<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <main>
    <section class="sidebar">
      <button 
        class="pure-button"
        title="expand sidebar"
        data-action="expand-sidebar"
      >&gt;</button>

      <header>
        <h2>Galactic Age Calculator</h2>
        <button 
          class="pure-button" 
          title="collapse sidebar"
          data-action="collapse-sidebar"
        >&lt;</button>
      </header>

      <article>
        
      </article>
    </section>

    <ul class="solar-system">
      <li class="mercury">
        <input type="radio" id="planet-mercury" class="planet" name="planet" value="mercury" />
        <label for="planet-mercury"></label>
      </li>
      <li class="venus">
        <input type="radio" id="planet-venus" class="planet" name="planet" value="venus" />
        <label for="planet-venus"></label>
      </li>
      <li class="earth">
        <input type="radio" id="planet-earth" class="planet" name="planet" value="earth" />
        <label for="planet-earth"></label>
      </li>
      <li class="mars">
        <input type="radio" id="planet-mars" class="planet" name="planet" value="mars" />
        <label for="planet-mars"></label>
      </li>
      <li class="jupiter">
        <input type="radio" id="planet-jupiter" class="planet" name="planet" value="jupiter" />
        <label for="planet-jupiter"></label>
      </li>
      <li class="saturn">
        <input type="radio" id="planet-saturn" class="planet" name="planet" value="saturn" />
        <label for="planet-saturn"></label>
      </li>
      <li class="uranus">
        <input type="radio" id="planet-uranus" class="planet" name="planet" value="uranus" />
        <label for="planet-uranus"></label>
      </li>
      <li class="neptune">
        <input type="radio" id="planet-neptune" class="planet" name="planet" value="neptune" />
        <label for="planet-neptune"></label>
      </li>
      <li class="pluto">
        <input type="radio" id="planet-pluto" class="planet" name="planet" value="pluto" />
        <label for="planet-pluto"></label>
      </li>
    </ul>
  </main>

  <footer>
    <a href="" class="brand">
      <img src="favicon.ico" />
      <h1>Galatic Age Calculator</h1>
    </a>

    <ul>
      <li>
        <a 
          href="https://github.com/AlyxMoon/epicodus-project05-galatic-age-calculator/"
          target="_blank">
          Github Repo
        </a>
      </li>
    </ul>
  </footer>
</body>
</html>